{
    "swagger": "2.0",
    "info": {
        "description": "Streams forwarding info elements collected by Retina agents.",
        "title": "IP Routes Live API",
        "contact": {},
        "version": "1.0.0"
    },
    "host": "iprl.dioptra.io",
    "basePath": "/api/v1",
    "paths": {
        "/stream": {
            "get": {
                "description": "Opens a long-lived NDJSON stream of FIEs. Slow consumers are lapped\nautomatically.",
                "produces": [
                    "application/x-ndjson"
                ],
                "tags": [
                    "stream"
                ],
                "summary": "Stream forwarding info elements",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.SequencedFIE"
                        }
                    },
                    "500": {
                        "description": "internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "api.Agent": {
            "type": "object",
            "properties": {
                "agent_id": {
                    "type": "string"
                }
            }
        },
        "api.IPVersion": {
            "type": "integer",
            "format": "int32",
            "enum": [
                4,
                6
            ],
            "x-enum-varnames": [
                "IPv4",
                "IPv6"
            ]
        },
        "api.Info": {
            "type": "object",
            "properties": {
                "probe_ttl": {
                    "type": "integer"
                },
                "received_timestamp": {
                    "type": "string"
                },
                "reply_address": {
                    "description": "ReplyAddress is the IP address in the reply (e.g., router interface address).",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "sent_timestamp": {
                    "type": "string"
                }
            }
        },
        "api.Protocol": {
            "type": "integer",
            "format": "int32",
            "enum": [
                1,
                17,
                58
            ],
            "x-enum-varnames": [
                "ICMP",
                "UDP",
                "ICMPv6"
            ]
        },
        "api.SequencedFIE": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/api.Agent"
                },
                "destination_address": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "far_info": {
                    "$ref": "#/definitions/api.Info"
                },
                "ip_version": {
                    "$ref": "#/definitions/api.IPVersion"
                },
                "near_info": {
                    "$ref": "#/definitions/api.Info"
                },
                "probing_directive_id": {
                    "description": "ProbingDirectiveID links this result to its originating directive.",
                    "type": "integer"
                },
                "production_timestamp": {
                    "description": "ProductionTimestamp is when this record was created (not when probes were sent).",
                    "type": "string"
                },
                "protocol": {
                    "$ref": "#/definitions/api.Protocol"
                },
                "sequence_number": {
                    "type": "integer"
                },
                "source_address": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}