basePath: /api/v1
definitions:
  api.Agent:
    properties:
      agent_id:
        type: string
    type: object
  api.IPVersion:
    enum:
    - 4
    - 6
    format: int32
    type: integer
    x-enum-varnames:
    - IPv4
    - IPv6
  api.Info:
    properties:
      probe_ttl:
        type: integer
      received_timestamp:
        type: string
      reply_address:
        description: ReplyAddress is the IP address in the reply (e.g., router interface
          address).
        items:
          type: integer
        type: array
      sent_timestamp:
        type: string
    type: object
  api.Protocol:
    enum:
    - 1
    - 17
    - 58
    format: int32
    type: integer
    x-enum-varnames:
    - ICMP
    - UDP
    - ICMPv6
  api.SequencedFIE:
    properties:
      agent:
        $ref: '#/definitions/api.Agent'
      destination_address:
        items:
          type: integer
        type: array
      far_info:
        $ref: '#/definitions/api.Info'
      ip_version:
        $ref: '#/definitions/api.IPVersion'
      near_info:
        $ref: '#/definitions/api.Info'
      probing_directive_id:
        description: ProbingDirectiveID links this result to its originating directive.
        type: integer
      production_timestamp:
        description: ProductionTimestamp is when this record was created (not when
          probes were sent).
        type: string
      protocol:
        $ref: '#/definitions/api.Protocol'
      sequence_number:
        type: integer
      source_address:
        items:
          type: integer
        type: array
    type: object
host: iprl.dioptra.io
info:
  contact: {}
  description: Streams forwarding info elements collected by Retina agents.
  title: IP Routes Live API
  version: 1.0.0
paths:
  /stream:
    get:
      description: |-
        Opens a long-lived NDJSON stream of FIEs. Slow consumers are lapped
        automatically.
      produces:
      - application/x-ndjson
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.SequencedFIE'
        "500":
          description: internal server error
          schema:
            type: string
      summary: Stream forwarding info elements
      tags:
      - stream
swagger: "2.0"
